*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url(pic/bg.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    font-family: sans-serif;
}

.main{
    width: 100%;
    background-image: url(pic/bg.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    position: relative;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo{
    width: 160px;
    cursor: pointer;
    margin-top: -3%;
    margin-left: -5%;
}

ul{
    margin-top: -4%;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: darkslategray;
    margin-top: -3%;
    transition: .4s ease;
}

ul li a:hover{
    color: rgb(230,104,59);
}

.info{
    margin-left: 7%;
    margin-top: 6%;
}

.info h1{
    font-size: 65px;
    color: black;

}

.info h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
}

.info span{
    color: orange;   
}

.info a{
    text-decoration: none;
    color: white;
    background: black;
    margin: 26px 0;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
    transition: .4s ease;
}

.info a:hover{
    background: rgb(59, 174, 209);
}

.image{
    width: 30%;
    height: 60%;
    position: absolute;
    right: 100px;
    bottom: 0;
}

.image img {
    position: absolute;
    height: 100%;
    left: 70%;
    top: -20%;
    transform: translate(-55%);
    bottom: 0;

    border-radius: 20px; /* rounds all 4 corners */
    object-fit: cover;   /* ensures image scales nicely */
}

.image:hover boy{
    left: 55%;
}

.icons a{
    text-decoration: none;
    color: #000;
}

.icons ion-icon{
    margin-left: 7%;
    color: #000;
    margin-right: -60px;
    font-size: 40px;
    transition: .4s ease;
}

.icons ion-icon:hover{
    color: rgb(59, 174, 209);
}

.curly-name {
  font-family: 'Dancing Script', cursive;
  font-weight: 600;
  font-size: 1.5em;
  color: #000;
  border-right: 2px solid #000; /* Cursor effect */
  white-space: nowrap;
  overflow: hidden;
}

.about {
    width: 86%; /* same as navbar width for alignment */
    margin: 0 auto; /* center horizontally */
    padding-top: 150px; /* space from top to match visual layout */
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.about span{
    color: orange;   
}

.about h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: black;
    text-align: center; /* center the text with lines on both sides */
    position: relative;
}

.about h2::before,
.about h2::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40%;
    height: 2px; /* line thickness */
    background: black;
}

.about h2::before {
    left: 0;
}

.about h2::after {
    right: 0;
}

.about h3 {
    font-size: 1.3em;
    margin-bottom: 15px;
    color: black;
}

.about p {
    font-size: 1em;
    line-height: 1.6;
    color: black;
}
